@import url("userChrome.css");

/* Removes white loading page */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
	html:not(#ublock0-epicker), #newtab-customize-overlay {
		background: var(--bf-bg) !important;
	}
}

@-moz-document url("about:newtab") {
	body{background-color:#222222!important;}
}
